.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-self: baseline;
}

@media screen and (max-width: 679px) {
  .footer__links {
    align-self: end;
    gap: 10px 15px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1120px) {
  .footer__links {
    align-self: end;
    gap: 10px 95px;
  }
}